<a href="https://colab.research.google.com/github/CD-GRUPO3/TA047R-1C2025-GRUPO03/blob/main/TA047R_TP1_GRUPO03_ENTREGA_EJ1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Grupo 3 - Ejercicio 1: *Análisis exploratorio de datos*
**Objetivo:** realizar un análisis completo del conjunto de datos, aplicar técnicas de exploración y de preprocesamiento para poder responder algunas preguntas que se planteen sobre los datos.

**Conjunto de datos:** [uso de Taxis Yellow Cab en USA](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page), particularmente los meses **Julio**, **Agosto** y **Septiembre**.

#####Inicialiación del entorno

In [14]:
#Importar las bibliotecas
import matplotlib.pyplot as plt   #Generación de gráficos
import numpy as np                #Operaciones matemáticas y estadísticas
import seaborn as sns             #Generación de gráficos
import pandas as pd               #Manipulación y análisis de datos
import pyarrow.parquet as pq      #Trabajar con archivos .parquet

#Configurar Pandas para que no use notación científica (CUALQUIER COSA ELIMINAR!!)
pd.set_option('display.float_format', '{:.6f}'.format)

In [2]:
#Cargar los datos al Notebook
!gdown 1iju9XQghLYI4-XcDt1TVDE1O9ZwRyFVg
!gdown 1MukhnrymZ35FVsahXUs5I0cAeGJMoXgG
!gdown 1hEhbxXEC7Dc4iG0fKk2k1n8KM6emWxSg

Downloading...
From: https://drive.google.com/uc?id=1iju9XQghLYI4-XcDt1TVDE1O9ZwRyFVg
To: /content/yellow_tripdata_2024-07.parquet
100% 52.3M/52.3M [00:00<00:00, 67.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1MukhnrymZ35FVsahXUs5I0cAeGJMoXgG
To: /content/yellow_tripdata_2024-08.parquet
100% 51.1M/51.1M [00:00<00:00, 79.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1hEhbxXEC7Dc4iG0fKk2k1n8KM6emWxSg
To: /content/yellow_tripdata_2024-09.parquet
100% 61.2M/61.2M [00:01<00:00, 47.5MB/s]

In [5]:
#Obtener cada DataFrame para utilizar Pandas
trips1 = pq.read_table('/content/yellow_tripdata_2024-07.parquet')
dataJulio = trips1.to_pandas()

trips2 = pq.read_table('/content/yellow_tripdata_2024-08.parquet')
dataAgosto = trips2.to_pandas()

trips3 = pq.read_table('/content/yellow_tripdata_2024-09.parquet')
dataSeptiembre = trips3.to_pandas()


#Unir los tres Dataframes (uno por mes)
data = pd.concat([dataJulio,dataAgosto,dataSeptiembre],axis=0, ignore_index=True)

#####Análisis de las variables

**Cuantitativas**
- **tpep_pickup_datetime:** La fecha y hora en que el taxímetro fue activado. **Tipo:** <u>cuantitativa discreta</u>.
- **tpep_dropoff_datetime:** La fecha y hora en el que el taxímetro fue desactivado. **Tipo:** <u>cuantitativa discreta</u>.
- **passenger_count:** El número de pasajeros en el vehículo, es un valor ingresado por el conductor. **Tipo:** <u>cuantitativa numérica nominal</u>.
- **trip_distance:** La distancia del viaje transcurrida en millas reportada por el taxímetro. **Tipo:** <u>cuantitativa numérica nominal</u>.

**DUDAS**
- **fare_amount:** La tarifa calculada por el taxímetro basada en el tiempo y la distancia. **Tipo:** <u>cuantitativa discreta</u>.
- **extra:** Extras y recargos varios. Actualmente, esto solo incluye los recargos de USD 0.50 y USD 1 por hora punta y durante la noche. **Tipo:** <u>cuantitativa discreta</u>.
- **mta_tax:** Impuesto MTA de USD 0.50 que se activa automáticamente según la tarifa del taxímetro en uso. **Tipo:** <u>cuantitativa discreta</u>.
- **tip_amount:** Monto de la propina. Este campo se completa automáticamente para las propinas pagadas con tarjeta de crédito. Las propinas en efectivo no están incluidas. **Tipo:** <u>cuantitativa discreta</u>.
- **tolls_amount:** Monto total de todos los peajes pagados durante el viaje. **Tipo:** <u>cuantitativa discreta</u>.
- **improvement_surcharge:** Recarga de mejora de USD 0.30 aplicado a los viajes al momento de iniciar el viaje (flag drop). **Tipo:** <u>cuantitativa discreta</u>.
- **total_amount:** El monto total cobrado a los pasajeros. No incluye las propinas en efectivo. **Tipo:** <u>cuantitativa discreta</u>.
- **congestion_surcharge:** Monto total recaudado en el viaje por el recargo por congestión de NYS (Estado de Nueva York). **Tipo:** <u>cuantitativa discreta</u>.
- **Airport_fee:** USD 1.25 solo por la recogida en los aeropuertos de LaGuardia y John F. Kennedy. **Tipo:** <u>cuantitativa discreta</u>.

---

**Cualitativas**
- **VendorID:** Un código que indica el proveedor de TPEP (Taxi and Limousine Commission's Taxi Passenger Enhancement Program) que proporcionó el registro. *1 = Creative Mobile Technologies, LLC; 2 = VeriFone*. **Tipo:** <u>cualitativa numérica nominal</u>.
- **RatecodeID:** El código final de tarifa en vigor al final del viaje. *1 = Tarifa estándar; 2 = JFK; 3 = Newark; 4 = Nassau o Westchester; 5 = Tarifa negociada; 6 = Viaje en grupo*. **Tipo:** <u>cualitativa numérica ordinal</u>.
- **store_and_fwd_flag:** Un indicador que señala si el registro del viaje fue guardado en la memoria del vehículo antes de ser enviado al proveedor, también conocido como 'almacenar y reenviar', porque el vehículo no tenía conexión al servidor. *Y = viaje almacenado y reenviado; N = no es un viaje almacenado y reenviado*. **Tipo:** <u>cualitativa texto nominal</u>.
- **PULocationID:** Zona de taxi de la TLC (Comisión de Taxis y Limusinas) en la que se activó el taxímetro. **Tipo:** <u>cualitativa numérica nominal</u>.
- **DOLocationID:** Zona de taxi de la TLC en la que se desactivó el taxímetro. **Tipo:** <u>cualitativa numérica nominal</u>.
- **payment_type:** Un código numérico que indica cómo el pasajero pagó el viaje. *1 = Tarjeta de crédito; 2 = Efectivo; 3 = Sin cargo; 4 = Disputa; 5 = Desconocido; 6 = Viaje *. **Tipo:** <u>cualitativa numérica nominal</u>.

In [19]:
lista_cuantitativas = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'Airport_fee']
lista_cualitativas = ['VendorID','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type']

#Diccionario para almacenar las medidas estadísticas de cada columna cuantitativa
dic_estadisticas_cuantitativo = {}  #FORMATO: {'nombre columna': Serie, 'nombre columna 2': Serie, ...}

#Obtener las medidas estadísticas de cada columna cuantitativa y guardarlas en el diccionario
for columna in lista_cuantitativas:
  moda = data[columna].mode()[0]
  medidas_estadisticas = data[columna].describe()  #Excluye los valores NaN, es una Serie
  medidas_estadisticas['moda'] = moda
  dic_estadisticas_cuantitativo[columna] = medidas_estadisticas
  print(medidas_estadisticas)

  print('\n')

count                       9689116
mean     2024-08-18 09:55:55.561226
min             2008-12-31 23:03:46
25%      2024-07-25 13:58:48.750000
50%             2024-08-18 21:18:19
75%             2024-09-11 19:59:00
max             2024-10-01 21:24:53
moda            2024-07-17 22:04:00
Name: tpep_pickup_datetime, dtype: object


count                       9689116
mean     2024-08-18 10:13:43.063171
min             2009-01-01 00:13:25
25%             2024-07-25 14:18:55
50%             2024-08-18 21:34:52
75%             2024-09-11 20:14:00
max             2024-10-02 17:28:37
moda            2024-07-29 00:00:00
Name: tpep_dropoff_datetime, dtype: object


count   8667729.000000
mean          1.337451
std           0.811968
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           9.000000
moda          1.000000
Name: passenger_count, dtype: float64


count   9689116.000000
mean          5.296568
std         433.935453
min           0.000000
25%           1.030000
50%           1.800000
75%           3.540000
max      330397.590000
moda          0.000000
Name: trip_distance, dtype: float64


count   9689116.000000
mean         19.767655
std          20.473392
min       -2261.200000
25%           9.300000
50%          14.200000
75%          23.150000
max        2261.200000
moda          8.600000
Name: fare_amount, dtype: float64


count   9689116.000000
mean          1.371863
std           1.826801
min          -7.500000
25%           0.000000
50%           1.000000
75%           2.500000
max          16.190000
moda          0.000000
Name: extra, dtype: float64


count   9689116.000000
mean          0.477493
std           0.136970
min          -0.500000
25%           0.500000
50%           0.500000
75%           0.500000
max          10.500000
moda          0.500000
Name: mta_tax, dtype: float64


count   9689116.000000
mean          3.280805
std           4.193002
min         -93.420000
25%           0.000000
50%           2.520000
75%           4.200000
max         523.950000
moda          0.000000
Name: tip_amount, dtype: float64


count   9689116.000000
mean          0.593475
std           2.306631
min        -116.700000
25%           0.000000
50%           0.000000
75%           0.000000
max         476.350000
moda          0.000000
Name: tolls_amount, dtype: float64


count   9689116.000000
mean          0.955656
std           0.274009
min          -1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
moda          1.000000
Name: improvement_surcharge, dtype: float64


count   9689116.000000
mean         28.312897
std          25.263186
min       -2265.450000
25%          15.760000
50%          21.000000
75%          31.080000
max        2265.450000
moda         16.800000
Name: total_amount, dtype: float64


count   8667729.000000
mean          2.197805
std           0.920417
min          -2.500000
25%           2.500000
50%           2.500000
75%           2.500000
max           2.500000
moda          2.500000
Name: congestion_surcharge, dtype: float64


count   8667729.000000
mean          0.165169
std           0.532001
min          -1.750000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.750000
moda          0.000000
Name: Airport_fee, dtype: float64

In [21]:
dic_estadisticas_cuantitativo

{'tpep_pickup_datetime': count                       9689116
 mean     2024-08-18 09:55:55.561226
 min             2008-12-31 23:03:46
 25%      2024-07-25 13:58:48.750000
 50%             2024-08-18 21:18:19
 75%             2024-09-11 19:59:00
 max             2024-10-01 21:24:53
 moda            2024-07-17 22:04:00
 Name: tpep_pickup_datetime, dtype: object,
 'tpep_dropoff_datetime': count                       9689116
 mean     2024-08-18 10:13:43.063171
 min             2009-01-01 00:13:25
 25%             2024-07-25 14:18:55
 50%             2024-08-18 21:34:52
 75%             2024-09-11 20:14:00
 max             2024-10-02 17:28:37
 moda            2024-07-29 00:00:00
 Name: tpep_dropoff_datetime, dtype: object,
 'passenger_count': count   8667729.000000
 mean          1.337451
 std           0.811968
 min           0.000000
 25%           1.000000
 50%           1.000000
 75%           1.000000
 max           9.000000
 moda          1.000000
 Name: passenger_count, dtype: float64,
 'trip_distance': count   9689116.000000
 mean          5.296568
 std         433.935453
 min           0.000000
 25%           1.030000
 50%           1.800000
 75%           3.540000
 max      330397.590000
 moda          0.000000
 Name: trip_distance, dtype: float64,
 'fare_amount': count   9689116.000000
 mean         19.767655
 std          20.473392
 min       -2261.200000
 25%           9.300000
 50%          14.200000
 75%          23.150000
 max        2261.200000
 moda          8.600000
 Name: fare_amount, dtype: float64,
 'extra': count   9689116.000000
 mean          1.371863
 std           1.826801
 min          -7.500000
 25%           0.000000
 50%           1.000000
 75%           2.500000
 max          16.190000
 moda          0.000000
 Name: extra, dtype: float64,
 'mta_tax': count   9689116.000000
 mean          0.477493
 std           0.136970
 min          -0.500000
 25%           0.500000
 50%           0.500000
 75%           0.500000
 max          10.500000
 moda          0.500000
 Name: mta_tax, dtype: float64,
 'tip_amount': count   9689116.000000
 mean          3.280805
 std           4.193002
 min         -93.420000
 25%           0.000000
 50%           2.520000
 75%           4.200000
 max         523.950000
 moda          0.000000
 Name: tip_amount, dtype: float64,
 'tolls_amount': count   9689116.000000
 mean          0.593475
 std           2.306631
 min        -116.700000
 25%           0.000000
 50%           0.000000
 75%           0.000000
 max         476.350000
 moda          0.000000
 Name: tolls_amount, dtype: float64,
 'improvement_surcharge': count   9689116.000000
 mean          0.955656
 std           0.274009
 min          -1.000000
 25%           1.000000
 50%           1.000000
 75%           1.000000
 max           1.000000
 moda          1.000000
 Name: improvement_surcharge, dtype: float64,
 'total_amount': count   9689116.000000
 mean         28.312897
 std          25.263186
 min       -2265.450000
 25%          15.760000
 50%          21.000000
 75%          31.080000
 max        2265.450000
 moda         16.800000
 Name: total_amount, dtype: float64,
 'congestion_surcharge': count   8667729.000000
 mean          2.197805
 std           0.920417
 min          -2.500000
 25%           2.500000
 50%           2.500000
 75%           2.500000
 max           2.500000
 moda          2.500000
 Name: congestion_surcharge, dtype: float64,
 'Airport_fee': count   8667729.000000
 mean          0.165169
 std           0.532001
 min          -1.750000
 25%           0.000000
 50%           0.000000
 75%           0.000000
 max           1.750000
 moda          0.000000
 Name: Airport_fee, dtype: float64}