<a href="https://colab.research.google.com/github/CD-GRUPO3/TA047R-1C2025-GRUPO03/blob/main/TA047R_TP1_GRUPO03_ENTREGA_EJ1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Grupo 3 - Ejercicio 1: *Análisis exploratorio de datos*
**Objetivo:** realizar un análisis completo del conjunto de datos, aplicar técnicas de exploración y de preprocesamiento para poder responder algunas preguntas que se planteen sobre los datos.

**Conjunto de datos:** [uso de Taxis Yellow Cab en USA](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page), particularmente los meses **Julio**, **Agosto** y **Septiembre**.

**Integrantes:**
- ARIAS, Rafaela Pilar. 112272. rparias@fi.uba.ar.
- BARCALA ROCA, Ramiro. 112478. rbarcala@fi.uba.ar.
- LEMA, Mora. 111831. molema@fi.uba.ar.
- IENCO, Lara Eliana. 111921. lienco@fi.uba.ar.

___

####Bibliografía:
Julca, J. E. (2025, febrero 22). Tipos de variables estadísticas: Cuantitativas y Cualitativas. Escuela de Investigación. Recuperado de: [Link](https://escueladeinvestigacion.com/2025/02/22/tipos-de-variables-estadisticas-cuantitativas-y-cualitativas/).

Sin Autor, (2022, junio 7). ¿Qué es una variable discreta? (ejemplos). Probabilidad y Estadística. [Link](https://www.probabilidadyestadistica.net/variable-discreta/).

#####Inicialiación del entorno

In [5]:
#Importar las bibliotecas
import matplotlib.pyplot as plt   #Generación de gráficos
import numpy as np                #Operaciones matemáticas y estadísticas
import seaborn as sns             #Generación de gráficos
import pandas as pd               #Manipulación y análisis de datos
import pyarrow.parquet as pq      #Trabajar con archivos .parquet

#Configurar Pandas para que no use notación científica (CUALQUIER COSA ELIMINAR!!)
pd.set_option('display.float_format', '{:.6f}'.format)

In [2]:
#Cargar los datos al Notebook
!gdown 1iju9XQghLYI4-XcDt1TVDE1O9ZwRyFVg
!gdown 1MukhnrymZ35FVsahXUs5I0cAeGJMoXgG
!gdown 1hEhbxXEC7Dc4iG0fKk2k1n8KM6emWxSg

Downloading...
From: https://drive.google.com/uc?id=1iju9XQghLYI4-XcDt1TVDE1O9ZwRyFVg
To: /content/yellow_tripdata_2024-07.parquet
100% 52.3M/52.3M [00:01<00:00, 46.9MB/s]
Downloading...
From: https://drive.google.com/uc?id=1MukhnrymZ35FVsahXUs5I0cAeGJMoXgG
To: /content/yellow_tripdata_2024-08.parquet
100% 51.1M/51.1M [00:00<00:00, 71.1MB/s]
Downloading...
From: https://drive.google.com/uc?id=1hEhbxXEC7Dc4iG0fKk2k1n8KM6emWxSg
To: /content/yellow_tripdata_2024-09.parquet
100% 61.2M/61.2M [00:01<00:00, 51.1MB/s]

In [3]:
#Obtener cada DataFrame para utilizar Pandas
trips1 = pq.read_table('/content/yellow_tripdata_2024-07.parquet')
dataJulio = trips1.to_pandas()

trips2 = pq.read_table('/content/yellow_tripdata_2024-08.parquet')
dataAgosto = trips2.to_pandas()

trips3 = pq.read_table('/content/yellow_tripdata_2024-09.parquet')
dataSeptiembre = trips3.to_pandas()


#Unir los tres Dataframes (uno por mes)
data = pd.concat([dataJulio,dataAgosto,dataSeptiembre],axis=0, ignore_index=True)

#####Análisis de las variables

**Cuantitativas**
- **tpep_pickup_datetime:** La fecha y hora en que el taxímetro fue activado. **Tipo:** <u>cuantitativa continua</u>.
- **tpep_dropoff_datetime:** La fecha y hora en el que el taxímetro fue desactivado. **Tipo:** <u>cuantitativa continua</u>.
- **passenger_count:** El número de pasajeros en el vehículo, es un valor ingresado por el conductor. **Tipo:** <u>cuantitativa numérica nominal</u>.
- **trip_distance:** La distancia del viaje transcurrida en millas reportada por el taxímetro. **Tipo:** <u>cuantitativa numérica nominal</u>.

**DUDAS**
- **fare_amount:** La tarifa calculada por el taxímetro basada en el tiempo y la distancia. **Tipo:** <u>cuantitativa discreta</u>.
- **extra:** Extras y recargos varios. Actualmente, esto solo incluye los recargos de USD 0.50 y USD 1 por hora punta y durante la noche. **Tipo:** <u>cuantitativa discreta</u>.
- **mta_tax:** Impuesto MTA de USD 0.50 que se activa automáticamente según la tarifa del taxímetro en uso. **Tipo:** <u>cuantitativa discreta</u>.
- **tip_amount:** Monto de la propina. Este campo se completa automáticamente para las propinas pagadas con tarjeta de crédito. Las propinas en efectivo no están incluidas. **Tipo:** <u>cuantitativa discreta</u>.
- **tolls_amount:** Monto total de todos los peajes pagados durante el viaje. **Tipo:** <u>cuantitativa discreta</u>.
- **improvement_surcharge:** Recarga de mejora de USD 0.30 aplicado a los viajes al momento de iniciar el viaje (flag drop). **Tipo:** <u>cuantitativa discreta</u>.
- **total_amount:** El monto total cobrado a los pasajeros. No incluye las propinas en efectivo. **Tipo:** <u>cuantitativa discreta</u>.
- **congestion_surcharge:** Monto total recaudado en el viaje por el recargo por congestión de NYS (Estado de Nueva York). **Tipo:** <u>cuantitativa discreta</u>.
- **Airport_fee:** USD 1.25 solo por la recogida en los aeropuertos de LaGuardia y John F. Kennedy. **Tipo:** <u>cuantitativa discreta</u>.

---

**Cualitativas**
- **VendorID:** Un código que indica el proveedor de TPEP (Taxi and Limousine Commission's Taxi Passenger Enhancement Program) que proporcionó el registro. *1 = Creative Mobile Technologies, LLC; 2 = VeriFone*. **Tipo:** <u>cualitativa numérica nominal</u>.
- **RatecodeID:** El código final de tarifa en vigor al final del viaje. *1 = Tarifa estándar; 2 = JFK; 3 = Newark; 4 = Nassau o Westchester; 5 = Tarifa negociada; 6 = Viaje en grupo*. **Tipo:** <u>cualitativa numérica ordinal</u>.
- **store_and_fwd_flag:** Un indicador que señala si el registro del viaje fue guardado en la memoria del vehículo antes de ser enviado al proveedor, también conocido como 'almacenar y reenviar', porque el vehículo no tenía conexión al servidor. *Y = viaje almacenado y reenviado; N = no es un viaje almacenado y reenviado*. **Tipo:** <u>cualitativa texto nominal</u>.
- **PULocationID:** Zona de taxi de la TLC (Comisión de Taxis y Limusinas) en la que se activó el taxímetro. **Tipo:** <u>cualitativa numérica nominal</u>.
- **DOLocationID:** Zona de taxi de la TLC en la que se desactivó el taxímetro. **Tipo:** <u>cualitativa numérica nominal</u>.
- **payment_type:** Un código numérico que indica cómo el pasajero pagó el viaje. *1 = Tarjeta de crédito; 2 = Efectivo; 3 = Sin cargo; 4 = Disputa; 5 = Desconocido; 6 = Viaje *. **Tipo:** <u>cualitativa numérica nominal</u>.

In [27]:
lista_cuantitativas = ['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'Airport_fee']

#Diccionario para almacenar las medidas estadísticas de cada columna cuantitativa
dic_estadisticas_cuantitativo = {}  #FORMATO: {'nombre columna': Serie, 'nombre columna 2': Serie, ...}

#Obtener las medidas estadísticas de cada columna cuantitativa y guardarlas en el diccionario
for columna in lista_cuantitativas:
  moda = data[columna].mode()[0]
  medidas_estadisticas = data[columna].describe()  #Excluye los valores NaN, es una Serie
  medidas_estadisticas['moda'] = moda
  dic_estadisticas_cuantitativo[columna] = medidas_estadisticas
  print(medidas_estadisticas)

  print('\n')

  #PREGUNTAR: por las que tienen NaN

count                       9689116
mean     2024-08-18 09:55:55.561226
min             2008-12-31 23:03:46
25%      2024-07-25 13:58:48.750000
50%             2024-08-18 21:18:19
75%             2024-09-11 19:59:00
max             2024-10-01 21:24:53
moda            2024-07-17 22:04:00
Name: tpep_pickup_datetime, dtype: object


count                       9689116
mean     2024-08-18 10:13:43.063171
min             2009-01-01 00:13:25
25%             2024-07-25 14:18:55
50%             2024-08-18 21:34:52
75%             2024-09-11 20:14:00
max             2024-10-02 17:28:37
moda            2024-07-29 00:00:00
Name: tpep_dropoff_datetime, dtype: object


count   8667729.000000
mean          1.337451
std           0.811968
min           0.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           9.000000
moda          1.000000
Name: passenger_count, dtype: float64


count   9689116.000000
mean          5.296568
std         433.935453
min           0.000000
25%           1.030000
50%           1.800000
75%           3.540000
max      330397.590000
moda          0.000000
Name: trip_distance, dtype: float64


count   9689116.000000
mean         19.767655
std          20.473392
min       -2261.200000
25%           9.300000
50%          14.200000
75%          23.150000
max        2261.200000
moda          8.600000
Name: fare_amount, dtype: float64


count   9689116.000000
mean          1.371863
std           1.826801
min          -7.500000
25%           0.000000
50%           1.000000
75%           2.500000
max          16.190000
moda          0.000000
Name: extra, dtype: float64


count   9689116.000000
mean          0.477493
std           0.136970
min          -0.500000
25%           0.500000
50%           0.500000
75%           0.500000
max          10.500000
moda          0.500000
Name: mta_tax, dtype: float64


count   9689116.000000
mean          3.280805
std           4.193002
min         -93.420000
25%           0.000000
50%           2.520000
75%           4.200000
max         523.950000
moda          0.000000
Name: tip_amount, dtype: float64


count   9689116.000000
mean          0.593475
std           2.306631
min        -116.700000
25%           0.000000
50%           0.000000
75%           0.000000
max         476.350000
moda          0.000000
Name: tolls_amount, dtype: float64


count   9689116.000000
mean          0.955656
std           0.274009
min          -1.000000
25%           1.000000
50%           1.000000
75%           1.000000
max           1.000000
moda          1.000000
Name: improvement_surcharge, dtype: float64


count   9689116.000000
mean         28.312897
std          25.263186
min       -2265.450000
25%          15.760000
50%          21.000000
75%          31.080000
max        2265.450000
moda         16.800000
Name: total_amount, dtype: float64


count   8667729.000000
mean          2.197805
std           0.920417
min          -2.500000
25%           2.500000
50%           2.500000
75%           2.500000
max           2.500000
moda          2.500000
Name: congestion_surcharge, dtype: float64


count   8667729.000000
mean          0.165169
std           0.532001
min          -1.750000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.750000
moda          0.000000
Name: Airport_fee, dtype: float64

In [22]:
data['mta_tax'].unique()

array([ 0.5 , -0.5 ,  0.  ,  3.  ,  4.  ,  1.  , 10.5 ,  0.05,  5.75,
        2.9 ,  0.8 ,  3.25,  4.1 ])

In [23]:
lista_cualitativas = ['VendorID','RatecodeID','store_and_fwd_flag','PULocationID','DOLocationID','payment_type']

#Diccionario para almacenar las medidas estadísticas de cada columna cualitativa
dic_estadisticas_cualitativo = {}  #FORMATO: {'nombre columna': Serie, 'nombre columna 2': Serie, ...}

#Obtener las medidas estadísticas de cada columna cualitativa y guardarlas en el diccionario
for columna in lista_cualitativas:
  valores_unicos_cualitativos = data[columna].unique()
  print("La columna " + columna + " tiene los valores sin repetir" , data[columna].unique())
  dic_estadisticas_cualitativo[columna] = valores_unicos_cualitativos


  print('\n')

La columna VendorID tiene [1 2 6]


La columna RatecodeID tiene [ 1.  2.  5.  4.  3. 99.  6. nan]


La columna store_and_fwd_flag tiene ['N' 'Y' None]


La columna PULocationID tiene [140 132 237 138 114 246  68 249 100 152 186 162 264 230 107  48 141 229
 236  90 262  41  79 234  70 164 158 239 144 142 113 263 148  50 231 161
 170 137 163  80 211 116 125 256 265  88 224 261 129  75 166 232 181 168
  43   4 233 255 112 238  45 244 226 146 193 124 143 196 235 243  37  87
  24 223   9  97  38 151 119  33  93 215   7 217  74 127 220  28  12  10
 179 219 157 260 216 209 165  42  82 130  83  14  65 145 188  52 177 135
  69 117 247  26  61  72  39  17  19  89  13  40  60 178  54  21 169  94
  25 160  35   1 225 205 134  98  51  86  73 197  95  64 258  92 259 123
 227  76  77 171  47  11 203  91 167 218 121 213  49 174  53  56  20 248
   3  71  32 155  62 108 241 102 139 222 159 202   6 195 154 212 194  85
 208 183 198 126 147  66  22  63 131  55  29 210  81 180  67 182 173 254
 136  36 101 190  78 207 189 120 191 122 133 149 242 106  16  15 192 200
 150 228  18  59  31 201 257 252 250 185  46 175  34 128  57 153 240 111
  96  58  27   8  44 115 184 156  23 245 221 251 199 253  30   2 214 206
 118 172 109 176 187  99 204  84   5]


La columna DOLocationID tiene [ 79 113 145 164 263 170  68 107 246 232 140 244  91 179 168 151 238 230
 264  75 249 229 262 231 265 137 129 124  48 211 116   7 257 142  74 148
 171 216  37 234 161  95  28 100 243 143 198 224  90  42 158 237  45 114
 112 144 162 122 239  87 141  72  16 236  50 233  14 186  13 209  80 225
 163  97 256   4 127 218 219 132 228  24 121 255  17  71 260 181 131  39
 182 160  54 157 152 261 248  56 166  83  65  33  43  36 125 133  82  92
  61 226  41 130 147  15 177 175 119   6  70 189 138 190 202  89  21  18
 258  62 134  86 193 128  53  69 192  49  40 210  10 223  25 203 254  60
  88 155  47 165 146 156  66 188 205 241  35  93   9  76  78  64 212 252
 117  55 174   1  52 220 196 217 215  11 159 195  96 167  46  58 213  19
 135 126 227 136  20 173  32  77 149  73 154 123 102 197 235 200 191 247
 180 221 139  63 108  81 106  27 242  31 172 169 208  26  38 222 101 185
 111 250 251  23 194  12  67  98  94 150  29  22 183   8 178  59 259  34
   3  57 153 207 240 201 176  51  85 206 253 245 115  44 187 109  30 120
  84 214 118 184   2   5 204  99 110 105]


La columna payment_type tiene [1 2 3 4 5 0]

In [33]:
for columna in lista_cualitativas:
  print("La columna tiene frecuencias" , data[columna].value_counts(dropna=False))
  print('\n')
  print('-'*40)
  print('\n')

La columna tiene frecuencias VendorID
2    7463904
1    2225103
6        109
Name: count, dtype: int64


----------------------------------------


La columna tiene frecuencias RatecodeID
1.000000     8028335
NaN          1021387
2.000000      362700
99.000000     123978
5.000000       88011
3.000000       34015
4.000000       30673
6.000000          17
Name: count, dtype: int64


----------------------------------------


La columna tiene frecuencias store_and_fwd_flag
N       8624127
None    1021387
Y         43602
Name: count, dtype: int64


----------------------------------------


La columna tiene frecuencias PULocationID
132    553448
161    450424
237    414063
236    360038
162    335798
        ...
199         7
44          5
204         5
5           2
99          1
Name: count, Length: 261, dtype: int64


----------------------------------------


La columna tiene frecuencias DOLocationID
236    374531
237    372258
161    361373
230    320549
170    294202
        ...
44         51
2          21
99          6
105         2
110         1
Name: count, Length: 262, dtype: int64


----------------------------------------


La columna tiene frecuencias payment_type
1    7033849
2    1349194
0    1021387
4     209622
3      75062
5          2
Name: count, dtype: int64


----------------------------------------